.content {
    font-family: fantasy;
    font-size: 15px;
    border: 1px solid black;
}

.createPost{
    padding-left: 25px;
}

.createPost p{
    font-size: 25px;
    color: black;
}

.allPosts {
    background-color: white;
margin-bottom: 50px;
}