.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

.ImageAvatarka {

    border: 1px solid black;
}

.ImageAvatarka img {
    width: 200px;
    border-radius: 50%;

}

.aboutMe {
    border: 1px solid black;
}

.contacts {
    border: 1px solid black;
}

