.app-wrapper {
    display: grid;
    width:80%;
    color:rgb(171, 119, 240);
    margin:0 auto;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
    
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

/*body {*/
/*    background-color: rgb(241, 241, 241);*/
/*}*/

.app-wrapper-content {
    grid-area: c;
}