.nav {
    grid-area: n;
    background-color: rgb(255, 255, 255);
    font-family: fantasy;
    /* border-bottom: 1px solid rgb(171, 119, 240);
    border-top: 1px solid rgb(171, 119, 240);
    border-right: 1px solid rgb(171, 119, 240); */
    box-shadow: 0px 0px 2px #a1a1a1;
    font-size: 20px;
    text-align: center;

}

.item {
    margin: 40px;
}

.item a {
    text-decoration: none;
}

.item a.active {
    color: goldenrod;
}